body{
  background-image: url('https://cdn.wallpapersafari.com/37/14/WOS2Qn.jpg');
 
}
form {
  font-style: italic;
  color: white;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border: 2px solid black;  
}
h3, h5{
  text-align: center;
}
input {
    border: 1px solid #999;
    border-radius: .25em;
    margin: 2px;
  }
  
  input:invalid {
    border: 4px solid #900;
    box-shadow: none;
  }
  
  input:valid {
    border: 3px solid green;
  }
  .interacted:invalid {
    border-color: #900;
  }
  
  .interacted:valid {
    border-color: #090;
  }
  #submitButton:active {
    background-color: #aeb3af;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  #submitButton:hover{
    background-color: #aeb3af;
  }
  th, td {
    padding: 3px;
    text-align: center;    
  }
  table{
    font-style: italic;
  color: white;
  margin: auto;
  margin-top: 50px;
  } 
  div{
    margin: 5px;
  }